@{
  Layout = "_Layout";
}

<h1>Eau Claire Hair Salon - Owner's Portal</h1>

<p>@Html.ActionLink("See all current clients", "Index", "Clients")</p> 

<p>@Html.ActionLink("See all available stylists", "Index", "Stylists")</p>
